<h1>
    Listado de Heroes</h1>
<hr>

<div class="row float-right">
    <div class="col-4">
        <button routerLink="/heroe/nuevo" class="btn btn-primary">
            <i class="fa fa-plus"></i>
            Agregar
        </button>
    </div>
    <div class="col-1">
    </div>
    <div class="col-4">
        <button (click)="salir()" class="btn btn-danger">
            <i class="fa fa-arrow-left"></i>
            Salir
        </button>
    </div>
</div>

<table class="table mt-3">
    <thead class="table-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Poder</th>
            <th scope="col">Vivo</th>
            <th scope="col">Tools</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let heroe of heroes; let i= index">
            <th scope="row">{{ i+1 }}</th>
            <td>{{ heroe.nombre }}</td>
            <td>{{ heroe.poder }}</td>
            <td>
                <span *ngIf="heroe.vivo" class="badge text-bg-success">Vivo</span>
                <span *ngIf="!heroe.vivo" class="badge text-bg-danger">Muerto</span>
            </td>
            <td>
                <button class="btn btn-info mr-1" [routerLink]="['/heroe', heroe.id]">
                    <i class="fa fa-pen"></i>
                </button>
                <button class="btn btn-danger" (click)="borrarHeroe(heroe, i)">
                    <i class="fa fa-trash"></i>
                </button>
            </td>
        </tr>
    </tbody>
</table>